.navbar-size {
    width: 100%;
    margin: 0 auto;
    background-color: rgb(64, 28, 209);
}
.user-image-size {
    height: 56px;
    margin: 4px 0;
}
.main-body {
    background-color: #8bcfe7;
    color: rgb(69, 14, 187);
}
.materialboxed-image {
    margin: 0 auto;
    height: 400px;
}
.click-me-button {
    background-color: #160672;
    margin-top: 50px;
}